.Konten1{
    z-index: 0; 
    width: 100%;
    top: 0px;
    height: 625px;
    position: relative;
}

.con-1{
    z-index: 1; 
    background-image: url('../image/bg.jpg');
    background-size: cover;
    width: 100%;
    top: 0px;
    height: 625px;
    background-attachment: fixed;
}

.overlay{
    z-index: 2; 
    background-color:
    #42c2ef;
    width: 100%;
    top: 0px;
    height: 625px;
    opacity: 0.5;
    position: absolute;
}

.content{
    z-index: 3; 
    width: 100%;
    top: 0px;
    height: 625px;
    /* background-color: wheat; */
    position: absolute;
}

.content1{
    margin-top: 270px;
}

.content1 h1{
    color: #ffffff;
    font-family: 'Libre Baskerville', serif;
    font-size: 50px;
    font-weight: 1;
}

.logociti1{
    width: 380px;
}

@media screen  and (max-width: 640px) {
  .Konten1{
      width: 640px;
  }
}
