.Tgl{
    width: 100%;
    height: 150px;
    background-color: 
    #0571b8;
}

.tanggal{
    width: 100%;
    height: 150px;
    padding-top: 10px;
}

.tanggal h2,h5{
  color: white;
  font-family: 'Libre Baskerville', serif;
}

@media screen  and (max-width: 640px) {
  .Tgl{
      width: 640px;
  }
  .tanggal{
    padding-top: 20px;
}
}